<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.myframe"
    android:versionCode="222"
    android:versionName="2.227" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true" />

</manifest>
